nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: var(--fontSizeHello);
  color: black;
  background-color: white; }
  nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 29px;
    height: 29px;
    border-radius: 50%; }
  nav .current {
    background-color: black;
    border: 2px solid black; }
    nav .current img {
      filter: invert(1); }
  nav .leftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid black; }
    nav .leftSide a {
      margin-right: 5px; }
  nav .rightSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 1px solid black; }
  nav .navIcon {
    width: 28px;
    height: 23px;
    border: 1px solid orange; }
  nav .navText {
    padding-left: 5px;
    vertical-align: center;
    font-size: 17px;
    border: 1px solid magenta; }
  nav .hidden {
    display: none; }
  @media (pointer: fine) {
    nav a {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      border: 2px solid rgba(0, 0, 0, 0); }
      nav a:hover {
        background-color: black;
        border: 2px solid black; }
        nav a:hover img {
          filter: invert(1); }
    nav .navIcon {
      width: 35px;
      height: 29px;
      border: 1px solid orange; }
    nav .navText {
      padding-left: 15px;
      font-size: 25px; } }

.navArrows .navArrow {
  height: 5vh;
  border: 1px solid cyan;
  opacity: 0.95;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 2s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 2s; }
  .navArrows .navArrow:hover {
    opacity: 0.4;
    transition-timing-function: ease-out;
    -webkit-transition: opacity .2s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity .2s; }
.navArrows .left {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%); }
.navArrows .right {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%); }

@media (min-width: 1200px) {
  .navArrow {
    display: block; } }
.detailsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.detailsBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.top {
  border: 1px solid green; }

.explainWrapper {
  width: 770px;
  height: 550px;
  border: 1px solid cyan;
  text-align: center;
  position: relative; }
  .explainWrapper img {
    border: 1px solild red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Montserrat', sans-serif; }

body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#screenContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #screenContainer nav {
    border: 1px solid blue; }
  #screenContainer #content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue; }

.top {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red; }

.timeFrame {
  width: 770px;
  height: 550px;
  max-height: 95%;
  max-width: 95%;
  border: 1px solid yellow;
  position: relative; }
  .timeFrame .timeFrames {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px; }
  .timeFrame .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px; }

.turnOff {
  display: none; }

.bottom {
  padding-bottom: 2vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  color: black;
  font-family: 'Montserrat', monospace; }
  .bottom .description {
    border: 1px solid pink;
    font-size: 17px;
    text-align: justify; }
    .bottom .description .descriptionHeader {
      border: 1px solid pink;
      border-bottom: 1px solid black;
      padding-bottom: .25em; }
    .bottom .description .descriptionText {
      padding-top: .25em;
      border: 1px solid pink; }

/*# sourceMappingURL=style.css.map */
