
.detailsBody {
  @include flexColumnCenter();
}

.detailsBottom{
  @include flexColumnCenter();
}


.top {
    border: $devBorder solid green;
}
.explainWrapper {
  width: $timeFrameWidth;
  height: $timeFrameHeight;
  border: $devBorder solid cyan;
  text-align: center;
  position: relative;

  img {
    border: $devBorder solild red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
