@import 'variables';
@import 'flexLayouts';
@import 'nav';
@import 'details';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: $background;
  overflow: hidden;
  @include flexRowCenter();
}

#screenContainer {
    width: 100%;
    height: 100%;
    @include flexColumnCenter;

    nav {
      border: $devBorder solid blue;
    }

    #content {
      width: 100%;
      height: 100%;
      @include flexColumnCenter();
      border: $devBorder solid blue;
    }

}


.top {
  width: 100%;
  height: 100%;
  @include flexColumnCenter();
  border: $devBorder solid red;
}


.timeFrame {
  width: $timeFrameWidth;
  height: $timeFrameHeight;
  max-height: 95%;
  max-width: 95%;
  border: $devBorder solid yellow;
  position: relative;
  .timeFrames {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.turnOff {
  display: none;
}

.bottom {
  padding-bottom: 2vh;
  max-width: 600px;
  @include flexColumnCenter();
  border: $devBorder solid green;
  color: $fontColor;
  font-family: 'Montserrat', monospace;

  .description {
    border: $devBorder solid pink;
    font-size: $fontSizeTimeLabel;
    text-align: justify;
    .descriptionHeader {

      border: $devBorder solid pink;
      border-bottom: 1px solid $fontColor;
      padding-bottom: .25em;
    }
    .descriptionText {
      padding-top: .25em;
      border: $devBorder solid pink;
    }
  }

}
