@import 'variables';
@import 'flexLayouts';
@import 'nav';
@import 'footer';
@import 'stretchBox';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  color: black;
  background-color: $colorBackground;
  font-weight: $fontWeight;
  background-color: $colorBackground;
}

#screenContainer {
    width: 100%;
    height: 100%;
    @include flexColumnCenter;

    nav {
      border: $devBorder solid blue;
    }

    #content {
      width: 100%;
      height: 100%;
      @include flexColumnCenter();
      border: $devBorder solid blue;
    }

}

.top {
  width: 100%;
  height: 100%;
  @include flexColumnCenter();
  border: $devBorder solid red;
}



.timeFrame, .center{
  width: 100%;
  height: 100%;
  border: $devBorder solid yellow;
  position: relative;
  img {
    // max-width: 100%;
    // max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overlay {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.turnOff {
  display: none;
}










body::-webkit-scrollbar {
  width: 0 !important;
}
