$devBorder: 0px;

$background: white;

$fontColor: black;
$fontSizeTimeLabel: 17px;
$fontSizeTime: 62px;
$fontSizeVariance: 17px;

$timeFrameWidth: 770px;
$timeFrameHeight: 550px;

$knobColor: black;
$knobPositionColor: red;
$knobPadding: 50px;
